<div class="container mt-4">
<h1> Add a watchlist </h1>

<%= simple_form_for [@list] do |f| %>
<%= f.input :name %>
<%= f.submit "Create a list", class: "btn btn-primary mt-3" %>
<% end %>

<%= link_to "Back", lists_path, class: "btn btn-secondary mt-3" %>
</div>
